In [1]:
# head of the DataFrame.

#                                     DataFrame.head()

In [2]:
# information about the column types and missing values in dataframe.

#                                     DataFrame.info()

In [3]:
# number of rows and columns in dataframe.
  
#                                     DataFrame.shape

In [4]:
# summary statistics that describe the DataFrame.

#                                     DataFrame.describe()

In [5]:
# values of DataFrame 

#                                     DataFrame.values

In [6]:
# column names of DataFrame

#                                     DataFrame.columns

In [7]:
# index of DataFrame

#                                     DataFrame.index

In [8]:
# Sorting Rows

#                                     DataFrame.sort_values("Column",ascending=False)
#                                     DataFrame.sort_values(["Column1","Column2"...],ascending=[False,True])

In [9]:
# Subsetting Columns (Single and Multiple)

#                                     DataFrame["Column"]
#                                     DataFrame[["Column1","Columns2"]]

In [10]:
# Subsetting Rows

#                                     DataFrame["column"] > value
# Example:                            Dogs["weight"] > 10

In [11]:
# Subsetting based on Data

#                                     DataFrame[DataFrame["column"] > value]
# Example:                            Dogs[ Dogs["weight"] > 10 ]

In [12]:
# Subsetting based on Multiple Conditions

#                                     DataFrame[ DataFrame["Column1"]==value1  &  DataFrame["Column2"]==value2 ]
# Example:                            Dogs[ Dogs["weight"] > 10 & Dogs["color"]=='white']

In [13]:
# Subsetting using .isin()

#                                     DataFrame["Column"].isin(["value1","value2"])
# Example:                            Dogs[ Dogs["color"].isin(['white','brown'])

In [14]:
# Adding a new Column

#                                     DataFrame["New Column"] = DataFrame["Old Column"]+any operation
# Example:                            Dogs['Heigh CM'] = Dogs['Height']*100

In [15]:
# Calculate mean of Values in Column

#                                     DataFrame["Column"].mean()
# Example:                            Dogs['Height'].mean()

In [16]:
# Calculate median of Values in Column

#                                     DataFrame["Column"].median()
# Example:                            Dogs['Height'].median()

In [17]:
# Calculate mode of Values in Column

#                                     DataFrame["Column"].mode()
# Example:                            Dogs['Height'].mode()

In [18]:
# Calculate minimum Value of a Column

#                                     DataFrame["Column"].min()
# Example:                            Dogs['Height'].min()

In [19]:
# Calculate maximum Value of a Column

#                                     DataFrame["Column"].max()
# Example:                            Dogs['Height'].max()

In [20]:
# Calculate variance of Values in Column

#                                     DataFrame["Column"].var()
# Example:                            Dogs['Height'].var()

In [21]:
# Calculate standard Deviation of Values in Column

#                                     DataFrame["Column"].std()
# Example:                            Dogs['Height'].std()

In [22]:
# apply a function or a list of function names to be executed along one of the axis of the DataFrame(axis=0(row),axis=1(column))

#                                     DataFrame["Column"].agg(functionName,axis=0)

#  Example:                           def toCM(column):
#                                         return column*100
#                                     Dogs['Height'].agg(toCM)

In [23]:
# find cumulative sum

#                                     DataFrame["Column"].cumsum()
# Example:                            Dogs["Height"].cumsum()
# .cummax(), .cummin(), .cumprod() all work in the same way

In [24]:
# remove Duplicate values in a Column

#                                     DataFrame.drop_duplicates(subset='Column')
# Example:                            Dogs.drop_duplicates(subset="Name")

In [25]:
# count number of values

#                                     DataFrame['Column'].value_counts(sort=False)
# Example:                            Cars['Company'].value_counts()

In [26]:
# calculate proportion of values

#                                     DataFrame['Column'].value_counts(normalize=True)
# Example:                            Cars['Company'].value_counts(normalize=True)

In [27]:
# Grouped Summaries

#                                     DataFrame.groupby('Column1')['Column2'].function()
# Example:                            Cars.groupby('Company')['max_speed'].max()

In [28]:
# Multiple Grouped Summaries

#                                     DataFrame.groupby('Column1')['Column2'].agg([function1,function2,function3...])
# Example:                            Cars.groupby('Company')['max_speed'].agg([max,min,sum])

In [29]:
# Grouping by multiple Variables

#                             DataFrame.groupby(['Column1','column2'])['Column2'].agg([function1,function2,function3...])
# Example:                    Cars.groupby(['Company','model'])['max_speed'].agg([max,min,sum])

In [30]:
# Grouby to Pivot Table

#                          DataFrame.pivot_table(values='Column2',index='Column1',aggfunc=function,fill_value='',margins=False)
# Example:                 Cars.pivot_table(values='max_speed',index='Company')
# Same Result as Block 27

In [ ]:
# Pivot on 2 variables

#                        DataFrame.pivot_table(values='Column2',index='Column3',columns='column2')
# Example:               Cars.pivot_table(values='max_speed',index='Company',columns='model')
# Same Result as Block 29